.gradle/*
.idea/*
gradle/*

api-gateway/build/*
api-gateway/gradle/*
api-gateway/.gradle/*

auth/build/*
auth/gradle/*
auth/.gradle/*

mail/build/*
mail/gradle/*
mail/.gradle/*

dictionary/build/*
dictionary/gradle/*
dictionary/.gradle/*

config-server/build/*
config-server/gradle/*
config-server/.gradle/*

eureka-server/build/*
eureka-server/gradle/*
eureka-server/.gradle/*

group-event/build/*
group-event/gradle/*
group-event/.gradle/*

message/build/*
message/gradle/*
message/.gradle/*

notification/build/*
notification/gradle/*
notification/.gradle/*

sos/build/*
sos/gradle/*
sos/.gradle/*

story/build/*
story/gradle/*
story/.gradle/*