.gradle/*
.idea/*
logs/*
build/*

shared/.gradle

api-gateway/logs/*
api-gateway/logs-archive/*
api-gateway/build/*
api-gateway/.gradle/*

auth-service/logs/*
auth-service/logs-archive/*
auth-service/build/*
auth-service/.gradle/*

mail-service/logs/*
mail-service/logs-archive/*
mail-service/build/*
mail-service/.gradle/*

dictionary-service/logs/*
dictionary-service/logs-archive/*
dictionary-service/build/*
dictionary-service/.gradle/*

config-service/logs/*
config-service/logs-archive/*
config-service/build/*
config-service/.gradle/*

discovery-service/logs/*
discovery-service/logs-archive/*
discovery-service/build/*
discovery-service/.gradle/*

group-service/logs/*
group-service/logs-archive/*
group-service/build/*
group-service/.gradle/*

message-service/logs/*
message-service/logs-archive/*
message-service/build/*
message-service/.gradle/*

notification-service/logs/*
notification-service/logs-archive/*
notification-service/build/*
notification-service/.gradle/*

sos-service/logs/*
sos-service/logs-archive/*
sos-service/build/*
sos-service/.gradle/*

story-service/logs/*
story-service/logs-archive/*
story-service/build/*
story-service/.gradle/*
